# Dependencies
node_modules/

# Build
dist/

# Angular
.angular/

# Environment
.env
.env.local

#Angular local evironment
app/frontend/src/environments/environment.ts

# macOS
.DS_Store

# Logs
*.log